{{#if visible}}
  <div class="adsense adsense_{{unbound slotTrim}}">
    <ins class="adsbygoogle"
      style={{adStyle}}
      data-ad-client="{{unbound publisherCode}}"
      data-ad-slot="{{unbound slotId}}">
    </ins>
  </div>
{{/if}}